$backgroundColor: #0f120eec;
$cardColor: #1a1d1ad2;
$textColor: #fff;
$buttonMainColor: #0f9152;
$textSubtitleColor: #cbcaca;
$boxShadowColor: #4c4c4cef;

.signup-button {
  background-color: $buttonMainColor;
}
